<div class="container-fluid scrollable">
    <h3>Research Topics</h3>
    <p>
        I study systems of interacting particles using tools from probability theory and partial differential equations. Such models find applications in ecology, in population genetics, in statistical physics, 
        and in computer science. Some questions which arise frequently concern the long-time behaviour of stochastic processes viewed at different scales, the transitions between the microscopic and macroscopic 
        pictures, and the universality of the limits. See <a href="https://gtr.ukri.org/projects?ref=studentship-2442028">this link</a> for a description of my current projects.
    </p>
    <br>
    <h3>Barycentric Brownian Bees (BBB):</h3>
    The following video is a simulation of the rescaled BBB process until 10^4 branching events have occured. There are 100 particles in the system and the diffusive scaling parameter is equal to 10^8. The green curve is the trajectory of the associated barycenter process.
    <video controls>
        <source src="../../assets/doc/sim1.mp4" type="video/mp4">
    </video>
</div>
