<div class="container-fluid scrollable">
    <h3>Research Topics</h3>
    <p>
        I study systems of interacting particles using tools from probability theory and partial differential equations. Such models find applications in ecology, in population genetics, in statistical physics, 
        and in computer science. Some questions which arise frequently concern the long-time behaviour of stochastic processes viewed at different scales, the transitions between the microscopic and macroscopic 
        pictures, and the universality of the limits. See <a href="https://gtr.ukri.org/projects?ref=studentship-2442028">this link</a> for a description of my current projects.
    </p>
    <br>
    <h3>Barycentric Brownian Bees (BBB):</h3>
    It is shown in <a href="https://arxiv.org/pdf/2006.04743.pdf">this paper</a> that, under a diffusive rescaling, the barycenter of the BBB process converges to a Brownian motion. We simulate the particle system and its barycenter with scaling parameter 
    equal to 10^9 and until 10^4 branching events have occurred. The green curve is the trajectory of the associated barycenter process.
    <div class="row">
        <div class="column">100 particles in two dimensions.<br>
            <video controls  width="90%">
                <source src="../../assets/doc/sim100.mp4" type="video/mp4">
            </video>
        </div>
        <div class="column">2 particles in two dimensions.<br>
            <video controls width="90%">
                <source src="../../assets/doc/sim2.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>