<div class="row container-fluid scrollable" padding-right="5%">
    <div class="column">
        <img src="../../assets/doc/pp.jpg" alt="Thomas Tendron" width="50%" height="50%">
    </div>
    <div class="column">
        <h3>About</h3>
        <p>
        I am a PhD student at the <a href="https://www.randomsystems-cdt.ac.uk">Centre for Doctoral Training in Mathematics of Random Systems</a> at the <a href="https://www.ox.ac.uk/">University of Oxford</a>. 
        I am part of the <a href="https://oxfordprobability.wordpress.com/research/dphil-students/">Probability Group</a> in the <a href="https://www.stats.ox.ac.uk/">Department of Statistics</a>. 
        My advisor is <a href="http://www.stats.ox.ac.uk/~berestyc/">Julien Berestycki</a>. Before coming to Oxford, I completed my B.A. and M.A. in mathematics at <a href="https://www.mcgill.ca/">McGill University</a>. 
        During my master's degree, I worked under the supervision of <a href="http://problab.ca/louigi/">Louigi Addario-Berry</a> and <a href="https://sites.google.com/view/jessicalin-math/home">Jessica Lin</a>. 
        For a full curriculum vitae, see <a href="../../assets/doc/cv.pdf">cv</a>.
        </p>
        <br>
        <h3>Publications</h3>
        <ol>
            <li>In preparation: <i>Equilibrium Fluctuations for a Spatial Logistic Branching Process
                in the Slow Coalescence Regime.</i></li>
            <li> L. Addario-Berry, J. Lin, T. Tendron, (2021) <i>Barycentric Brownian Bees</i>, <b>Annals of Applied Probability</b>, to appear, <a href="https://imstat.org/journals-and-publications/annals-of-applied-probability/annals-of-applied-probability-future-papers/">AAP</a>.</li>
        </ol>
        <br>
        <h3>Contributed Talks and Posters</h3>
        <ol>
            <li>
                <a href="https://secure.math.ubc.ca/Links/ssprob22/schedule.php">2022 PIMS-CRM Summer School in Probability</a> - University of British Columbia - Vancouver - June 23, 2022.<br>
                Talk Title: <i>A Central Limit Theorem for a Spatial Logistic Branching Process in the Slow Coalescence Regime.</i>
                </li>
            <li><a href="http://www.crm.umontreal.ca/2022/Systemes22/index_e.php">Workshop: Branching Systems, Reaction-Diffusion Equations and Population Models</a> - Centre de Recherches Mathématiques -
                Montréal, May 3, 2022.<br>
                <a href="../../assets/doc/MtlPosterMay2022.pdf">Poster: <i>Barycentric Brownian Bees.</a></i>
            </li>
        </ol>
        <br>
        <h3>Invited Talks</h3><br>
        Title: <i>A central limit theorem for a class of spatial coalescence-fragmentation processes in the slow coalescence regime.</i>
        <ol>
            <li><a href="https://www.stats.ox.ac.uk/~restucci/EGS.html">Etheridge Group Seminar</a> - Department of Statistics - University of Oxford, July 7, 2021.<br></li>
            <li><a href="https://www.randomsystems-cdt.ac.uk/spring-retreat">Spring Retreat - CDT in Mathematics of Random Systems</a> - University of Oxford, June 10, 2021.<br></li> 
        </ol>
        <br>
        <h3>Teaching</h3>
        <ul>
            <li>
                Hilary Term 2022: Tutor for <a href="http://www.stats.ox.ac.uk/wp-content/uploads/2021/05/Part-C-2020-2021-Handbook-Supplement-v1.1.pdf">SB3.1 Applied Probability</a> and TA 
                for <a href="https://courses-archive.maths.ox.ac.uk/node/49719/materials">C8.4 Probabilistic Combinatorics</a>
            </li>
            <li>
            Michaelmas Term 2021: Tutor and TA for <a href="http://www.stats.ox.ac.uk/wp-content/uploads/2021/05/Part-C-2020-2021-Handbook-Supplement-v1.1.pdf">SC9 Probability on Graphs and Lattices</a>
            </li>
        </ul>
        <br>
        <h3>Contact</h3>

        Email: firstname dot lastname @ univ dot ox dot ac dot uk
    </div>
</div>
